@import "./scss/global/variables";

@import "./scss/blocks/header";
@import "./scss/blocks/music";
@import "./scss/blocks/footer";
@import "./scss/blocks/music-card";
// global

@import "./scss/global/settings";
@import "./scss/global/container";
