.header {
  background-image: linear-gradient(90deg, #020411, #23023c);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .container {
    padding: 0 150px;

    @include vp-tablet {
      padding: 0 100px;
    }

    @include vp-mobile {
      padding: 0 20px;
    }
  }
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu-list {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;

  @include vp-mobile {
    gap: 10px;
  }
}

.header_menu-item {
  position: relative;
}

.header_menu-inner {
  color: #a692bd;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_menu-searchSong {
  display: flex;
  color: #a692bd;
  gap: 5px;
  align-items: center;

  .header_menu-inputSearch {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    z-index: 1000;

    &:hover {
      background-color: #e1f0f6;
    }

    @include vp-mobile {
      max-width: 70px;
      height: 40px;
    }
  }
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-icon {
  background-image: linear-gradient(60deg, #e93faf, #bc4af0);
  border-radius: 20px;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #d9c5ee;

  @include vp-mobile {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}

.header_logo-text {
  color: #d9c5ee;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  @include vp-mobile {
    display: none;
  }
}

.header_menu-favoriteList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #294053;

  .header_menu-favoriteItem {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .music_card-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 2px;
  }
}
